html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-image: linear-gradient(to left bottom, #2e6363, #517e77, #486a73, #495562, #44434a);
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: rgb(223, 223, 223);
}

.main-wrapper {
  width: 97%;
  margin: 0 auto;
  margin-top: 25px;
}

.header-game-title {
  font-size: 7.5em;
  text-align: center;
}

.sections-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}
.sections-wrapper > section {
  border-radius: 5px;
}

.upgrade-ascendance-section, .shop-section {
  flex-basis: 28%;
  background-color:rgb(71, 119, 119);
  border: 2px solid black;
}

.central-section {
  display: flex;
  flex-basis: 100%;
  order: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;

}

#main-pepe-button {
  width: 250px;
  height: 250px;
  text-align: center;
  margin-top: 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1000%;
  background-image:url("../IMAGES/MainPepeButton.jpg");
  background-size: cover;
  background-position: center;
  outline: none; 
  transition: 0.05s;
}

#main-pepe-button:active {
  transform: scale(1.05);
}

#pepe-counter, #gpps-counter {
  font-size: 2.8em;
  display: table;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

#gpps-counter {
  margin-top: 10px;
}

.main-section {
  margin-bottom: 25px;
}
.shop-section {
  order: 2;
  flex-basis: 100%;
}

.shop-item {
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgb(49, 49, 49);
  text-align: center;
  opacity: 0.35;
}

.shop-item:last-child {
  border-bottom: none;
}

.shop-item > * {
  pointer-events: none;
}

.shop-item-center {
  width: 60%;
  display: flex;
  align-items: center;
}
.shop-item > img {
  width: 15%;
  max-height: 85%;
}

.shop-item-amount {
  font-size: 3.8em;
  margin-right: 5%;
}

.shop-item-name-pps {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: initial; 
  width: 100%;
}
.shop-item-name {
  font-size: 1.6em;
  flex-basis: 100%;
}

.shop-item-pps {
  font-size: 1.1em;
  font-weight: 900;
  flex-basis: 100%;

}

.shop-item-price {
  font-size: 1.7em;
  font-weight: 700;
  width: 22.5%;
  border-left: 1px solid black;
}

.upgrade-ascendance-section {
  min-height: 200px;
  order: 3;
  flex-basis: 100%;
}
.upgrade-ascendance-sections-buttons{
  display: flex;
  justify-content: center;
  width: 100%;
}
.button {
  font-family: 'Open Sans';
  height: 40px;
  font-size: 1.8em;
  background-color: rgb(54, 54, 54);
  color: rgb(233, 233, 233);
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.button:focus {
  outline: none;
}

.button-ascendence {
  border-top: 1px solid black;
  border-bottom: none
}
.upgrade-ascendance-sections-buttons > button {
  flex-basis: 50%;
}

.upgrade-ascendance-sections-buttons > button:first-child {
  border-right: 2px solid black;
}


.upgrade-images {
  margin: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.upgrade-image > * {
  pointer-events: none;
}

.upgrade-image {
  display: flex;
  flex-basis: 72px;
  height: 70px;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  margin: 0.5%;
}

.upgrade-image > img {
  display: block;
  margin: 0 auto;
  width: 75%;

}

.upgrade-price {
  display: table;
  margin: 0 auto;
  margin-top: 1px;
  width: 85%;
  font-size: 1.15em;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid rgb(0,76,76);
}

.upgrade-image > .upgrade-image-tooltip {
  visibility: hidden;
  width: 220px;
  background-color: rgb(99, 99, 99);
  color: rgb(233, 233, 233);
  border: 2px solid black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 104%;
  left: 50%;
  margin-left: -115px;
  font-size: 1.45em;
  opacity: 0;
  transition: opacity 0.3s;
}

.upgrade-image > .upgrade-image-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.upgrade-image:hover .upgrade-image-tooltip {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .central-section {
    flex-basis: 30%;
  }

  .shop-section {
    flex-basis: 60%;
  }

  .main-wrapper {
    width: 85%;
    margin: 0 auto;
    margin-top: 35px;
  }

}

@media only screen and (min-width: 992px) {
  .main-wrapper {
    width: 75%;
  }
  .shop-section {
    flex-basis: 55%;
  }
}

@media only screen and (min-width: 1200px) {
  .main-wrapper {
    width: 95%;
  }
  .shop-section {
    flex-basis: 37%;
  }

  .upgrade-ascendance-section {
    order: 1;
    flex-basis: 30%;
    position: sticky;
    top: 10px;
  }

}

@media only screen and (min-width: 1200px) {
  .main-wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .main-wrapper {
    width: 80%;
  }

  .shop-section {
    flex-basis: 35%;
  }
}

@media only screen and (min-width: 1800px) {
  .main-wrapper {
    width: 75%;
  }

  .shop-section {
    flex-basis: 30%;
  }
}